//
// nav.scss
//

.nav-tabs,
.nav-pills {
    > li {
        > a {
            color: var(--#{$prefix}gray-700);
            font-weight: $font-weight-semibold;
        }
    }
}

.nav-pills {
    > a {
        color: var(--#{$prefix}gray-700);
        font-weight: $font-weight-semibold;
    }
}

.nav-fill,
.nav-justified {
    .nav-item {
        .nav-link {
            width: auto;
        }
    }
}

//Navtab custom

.nav-link{
    color: black;
}

// Nav bordered

.nav-bordered {
    border-bottom: 2px solid var(--#{$prefix}border-color) !important;
    .nav-item {
        margin-bottom: -1px;

    }

    li {
        a {
            border: 0 !important;
            padding: 10px 20px;
        }
    }

    a.active {
        border-bottom: 2px solid $primary !important;
    }
}

.tab-content {
    padding: 20px 0 0 0;
}
// navlink profile section


//  .nav-tabs .nav-link:focus{
//     border-color: var(--ct-nav-tabs-link-hover-border-color);
// }
// .profile-navs, .nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
//     isolation: isolate;
//     border-color: var(--ct-nav-tabs-link-hover-border-color);
// }
// .profile-navs,.nav-tabs .nav-link {
//     border: 0px;
// }
// .profile-navs, .nav-item{
//     border: 0px;
// }
// .profile-navs, .nav-tabs {
//     border: 0px;
// }

// .profile-navs, .nav-link{
//     margin-bottom: -1px;
    
// }

.profile-navs, .nav-tb-Active:focus{
    display: block;
    width: 100%;
    border: 0px !important;  
    
}
.profile-navs,.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #027ee3;
   
}
.nav-tabs{
  border-bottom: 1px;
}
