//
// authentication.scss
//


.bg-pattern {
    background-image: url("../../../images/bg-pattern-2.png");
    background-size: cover;
}


// authentication pages background
body {
    &.authentication-bg {
        background-color:#4e73df;
        background-size: cover;
        background-position: center;

        footer{
            background-color: transparent !important;
        }
    }

    &.authentication-bg-pattern {
        background-image: url("../../../images/bg-pattern.png");
    }    
}

// Logout page
.logout-icon {
    width: 140px;
}


//login 
.p-margin{
    margin-top: -15px;

}
//register

.account-pages{
    display: flex;
    justify-content: center;
    align-items: center;
}